<h2>No Helmet Violations</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Original Image</th>
        <th>Violation Image</th>
        <th>Date & Time</th>
        <th>Fine</th>
    </tr>

    {% for r in records %}
    <tr>
        <td>{{ r['id'] }}</td>

<td>
  {% if r['original_image'] %}
    <img src="/static/uploads/{{ r['original_image'] }}" width="150">
  {% else %} No image {% endif %}
</td>

<td>
  {% if r['violation_image'] %}
    <img src="/static/violations/{{ r['violation_image'] }}" width="150">
  {% else %} No violation image {% endif %}
</td>

<td>{{ r['timestamp'] }}</td>
<td>₹{{ r['fine_amount'] }}</td>
       
    </tr>
    {% endfor %}
</table>

